# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
build/
.next/
out/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.staging

# Local Databases & Systems
postgres_local_db/
*.db
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# System files
.DS_Store
Thumbs.db
*.tsbuildinfo

